@import "tailwindcss";

/* stylelint-disable-next-line at-rule-no-unknown */
@custom-variant dark (&:is(.dark *));

/* stylelint-disable-next-line at-rule-no-unknown */
@theme {
  --color-primary: #007CFF;
  --color-primary-dark: #0062D1;
  --color-background-light: #FFFFFF;
  --color-background-dark: #040300;
  --color-surface-light: #FFFFFF;
  --color-surface-dark: #040300;
  --color-nav-bg: #FFFFFF;
  --color-border-light: #0403001A;
  /* 10% black */
  --color-border-dark: #FFFFFF1A;
  /* 10% white */
  --color-text-main: #040300;
  --color-text-muted: #04030099;
  /* 60% black */

  --font-display: 'Inter', sans-serif;
  --font-sans: 'Inter', sans-serif;

  --radius-DEFAULT: 0.5rem;
  --radius-lg: 1rem;
  --radius-xl: 1.5rem;
  --radius-2xl: 2rem;
  --radius-full: 9999px;
}

body {
  font-family: var(--font-sans);
  background: var(--color-background-light);
  color: var(--color-text-main);
}

.dark body {
  background: var(--color-background-dark);
  color: #FFFFFF;
}

/* Material Symbols Adjustments */
.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 300,
    'GRAD' 0,
    'opsz' 24
}

.active-nav-icon .material-symbols-outlined {
  font-variation-settings: 'FILL' 1;
}

/* Abstract geometric pattern for background */
.bg-pattern {
  background-image: radial-gradient(var(--color-primary) 0.5px, transparent 0.5px), radial-gradient(var(--color-primary) 0.5px, var(--color-background-light) 0.5px);
  background-size: 20px 20px;
  background-position: 0 0, 10px 10px;
  opacity: 0.03;
}

.dark .bg-pattern {
  background-image: radial-gradient(var(--color-primary) 0.5px, transparent 0.5px), radial-gradient(var(--color-primary) 0.5px, var(--color-background-dark) 0.5px);
  opacity: 0.05;
}

/* Custom scrollbar for webkit */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #d4d4d4;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-primary);
}

.dark ::-webkit-scrollbar-thumb {
  background: #3f3f46;
}

.dark ::-webkit-scrollbar-thumb:hover {
  background: var(--color-primary);
}

/* Smooth Scrolling */
html {
  scroll-behavior: smooth;
}